<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="A2bizz::top_level" title="A2bizz" module="A2bizz_Base" sortOrder="9999" resource="Magento_Backend::content"/>
	</menu>
</config>
