<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="A2bizz::module_creator_elements" title="Module Creator" translate="title" module="A2bizz_ModuleCreator" sortOrder="10" parent="A2bizz::top_level" resource="Magento_Backend::content_elements"/>
		<add id="A2bizz_ModuleCreator::a2bizz_modulecreator_new" title="Add New" module="A2bizz_ModuleCreator" sortOrder="10" resource="Magento_Backend::content" parent="A2bizz::module_creator_elements" action="a2bizz_modulecreator/modulecreator/newAction"/>
		<add id="A2bizz_ModuleCreator::a2bizz_modulecreator_list" title="List Modules" module="A2bizz_ModuleCreator" sortOrder="20" resource="Magento_Backend::content" parent="A2bizz::module_creator_elements" action="a2bizz_modulecreator/modulecreator/index"/>
	</menu>
</config>
