<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="A2bizz\ModuleCreator\Api\ModuleCreatorRepositoryInterface" type="A2bizz\ModuleCreator\Model\ModuleCreatorRepository"/>
	<preference for="A2bizz\ModuleCreator\Api\Data\ModuleCreatorInterface" type="A2bizz\ModuleCreator\Model\ModuleCreator"/>
	<preference for="A2bizz\ModuleCreator\Api\Data\ModuleCreatorSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<virtualType name="A2bizz\ModuleCreator\Model\ResourceModel\ModuleCreator\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">a2bizz_modulecreator</argument>
			<argument name="resourceModel" xsi:type="string">A2bizz\ModuleCreator\Model\ResourceModel\ModuleCreator\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="a2bizz_modulecreator_listing_data_source" xsi:type="string">A2bizz\ModuleCreator\Model\ResourceModel\ModuleCreator\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
</config>
