<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="a2bizz_base" id="a2bizz_base">
			<module before="Magento_Backend" name="A2bizz_Base"/>
		</route>
	</router>
</config>
